#controles ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-80%);
}

#controles ul:hover {
  transform: translateX(0);
}

/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
 #controles ul {
  transition: all 0.9s ease-out;
 }

/*
 * Exercício 2: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas *sugestões*:
 *   - com-fome: animal piscando (opacidade variando)
 *   - satisfeito: uma borda verde no animal e o animal fica girando de alegria
 *   - com-raiva: animal fica pulsando
 *   - atacando: animal dá um salto e cresce, com uma borda vermelha
 */
.com-fome {
  background-color: blue;
  animation: faminto 0.5s ease-in-out 0s infinite alternate;
}

@keyframes faminto {
  0%    { display: none; }
  20%   { display: block; opacity: 0.3;}
  40%   { display: none; opacity: 0.6;}
  60%   { display: block; opacity: 0.9;}
}

.satisfeito {
  background-color: green;
  animation: alimentado 3s ease-in-out 0s infinite alternate;
}

@keyframes alimentado {
  from   {  transform: rotateY(0); }
  to  {  transform: rotateY(3600deg)}
}

.com-raiva {
  position: relative;
  animation: maisRaiva .5s ease-in-out 0s infinite alternate;
}

@keyframes maisRaiva {
  0%    { top: 0;  transform: rotate(15deg);}
  20%   { top: -20px; transform: rotate(-15deg);}
  40%   { top: 0px; transform: rotate(-15deg);}
  60%   { top: 20px; transform: rotate(15deg);}
  75%   { top: 0px; transform: rotate(-15deg);}
  80%   { top: 20px; transform: rotate(15deg);}
  90%   { top: 0px; transform: rotate(-15deg);}
  100%  { top: -20px; transform: rotate(15deg);}

}

.atacando {
  position: relative;
  background-color: red;
  animation: ataqueFeroz .5s ease-in-out 0s infinite alternate;
}

@keyframes ataqueFeroz {
  0%    { top: 0;  }
  20%   { top: 20px;}
  40%   { top: 0px;}
  50%   {transform: scale(1.5);}
}